.App {
  text-align: center;
  padding-left: calc(100vw - 100%);
}
.leqMci > div{
  z-index: 9;
}
a{
   text-decoration: unset;
}
.avatar-main{
  max-width: 100px;
}
.buySpan{
  color: black;
  font-weight: 600;
}
.rentSpan{
  color: red;
  font-weight: 900;
}
.cardItems div{
  transition: .2s;
}

.cardItems:hover div{
  transform: scale(1.02);
}

.logo{
  height: 80px;
  float: left;
  margin: 10px 0 0 40px;
  padding-right: 20px;
}